.f{ display: -webkit-flex; /* Safari */ display: flex;}

.f1{ display: -webkit-flex; /* Safari */ display: flex; flex: 1;}
.f2{ display: -webkit-flex; /* Safari */ display: flex; flex: 2;}
.f3{ display: -webkit-flex; /* Safari */ display: flex; flex: 3;}
.f4{ display: -webkit-flex; /* Safari */ display: flex; flex: 4;}
.f5{ display: -webkit-flex; /* Safari */ display: flex; flex: 5;}
.f6{ display: -webkit-flex; /* Safari */ display: flex; flex: 6;}
.f7{ display: -webkit-flex; /* Safari */ display: flex; flex: 7;}
.f8{ display: -webkit-flex; /* Safari */ display: flex; flex: 8;}
.f9{ display: -webkit-flex; /* Safari */ display: flex; flex: 9;}
.f10{ display: -webkit-flex; /* Safari */ display: flex; flex: 10;}
.f11{ display: -webkit-flex; /* Safari */ display: flex; flex: 11;}
.f12{ display: -webkit-flex; /* Safari */ display: flex; flex: 12;}

.fdr{flex-direction: row}
.fdrv{flex-direction: row-reverse}
.fdc{flex-direction: column}
.fdcv{flex-direction: column-reverse}

.ffrw {flex-flow: row wrap}
.ffrwv {flex-flow: row wrap-reverse}
.ffrvw {flex-flow: row-reverse wrap}
.ffrvwv {flex-flow: row-reverse wrap-reverse}
.ffcw {flex-flow: column wrap}
.ffcwv {flex-flow: column wrap-reverse}
.ffcvw {flex-flow: column-reverse wrap}
.ffcvwv {flex-flow: column-reverse wrap-reverse}

.center {justify-content: center; align-items:center;}
.jCenter {justify-content: center;}
.jSpace {justify-content: space-between;}
.jSpaceAround {justify-content: space-around;}
.aCenter {align-items:center;}

.w10 {width: 10%}
.w20 {width: 20%}
.w30 {width: 30%}
.w40 {width: 40%}
.w50 {width: 50%}
.w60 {width: 60%}
.w70 {width: 70%}
.w80 {width: 80%}
.w90 {width: 90%}
.w100 {width: 100%}

.h10 {height: 10%}
.h20 {height: 20%}
.h30 {height: 30%}
.h40 {height: 40%}
.h50 {height: 50%}
.h60 {height: 60%}
.h70 {height: 70%}
.h80 {height: 80%}
.h90 {height: 90%}
.h100 {height: 100%}

.m2{ margin:2px }
.m4{ margin:4px }
.m6{ margin:6px }
.m8{ margin:8px }
.m10{ margin:10px }
.m12{ margin:12px }
.m14{ margin:14px }
.m16{ margin:16px }
.m18{ margin:18px }
.m20{ margin:20px }
.m22{ margin:22px }
.m24{ margin:24px }

.ml2{ margin-left:2px }
.ml4{ margin-left:4px }
.ml6{ margin-left:6px }
.ml8{ margin-left:8px }
.ml10{ margin-left:10px }
.ml12{ margin-left:12px }
.ml14{ margin-left:14px }
.ml16{ margin-left:16px }
.ml18{ margin-left:18px }
.ml20{ margin-left:20px }
.ml22{ margin-left:22px }
.ml24{ margin-left:24px }

.mr2{ margin-right:2px }
.mr4{ margin-right:4px }
.mr6{ margin-right:6px }
.mr8{ margin-right:8px }
.mr10{ margin-right:10px }
.mr12{ margin-right:12px }
.mr14{ margin-right:14px }
.mr16{ margin-right:16px }
.mr18{ margin-right:18px }
.mr20{ margin-right:20px }
.mr22{ margin-right:22px }
.mr24{ margin-right:24px }

.mt2{ margin-top:2px }
.mt4{ margin-top:4px }
.mt6{ margin-top:6px }
.mt8{ margin-top:8px }
.mt10{ margin-top:10px }
.mt12{ margin-top:12px }
.mt14{ margin-top:14px }
.mt16{ margin-top:16px }
.mt18{ margin-top:18px }
.mt20{ margin-top:20px }
.mt22{ margin-top:22px }
.mt24{ margin-top:24px }

.mb2{ margin-bottom:2px }
.mb4{ margin-bottom:4px }
.mb6{ margin-bottom:6px }
.mb8{ margin-bottom:8px }
.mb10{ margin-bottom:10px }
.mb12{ margin-bottom:12px }
.mb14{ margin-bottom:14px }
.mb16{ margin-bottom:16px }
.mb18{ margin-bottom:18px }
.mb20{ margin-bottom:20px }
.mb22{ margin-bottom:22px }
.mb24{ margin-bottom:24px }

.p2{ padding:2px }
.p4{ padding:4px }
.p6{ padding:6px }
.p8{ padding:8px }
.p10{ padding:10px }
.p12{ padding:12px }
.p14{ padding:14px }
.p16{ padding:16px }
.p18{ padding:18px }
.p20{ padding:20px }
.p22{ padding:22px }
.p24{ padding:24px }

.pl2{ padding-left:2px }
.pl4{ padding-left:4px }
.pl6{ padding-left:6px }
.pl8{ padding-left:8px }
.pl10{ padding-left:10px }
.pl12{ padding-left:12px }
.pl14{ padding-left:14px }
.pl16{ padding-left:16px }
.pl18{ padding-left:18px }
.pl20{ padding-left:20px }
.pl22{ padding-left:22px }
.pl24{ padding-left:24px }

.pr2{ padding-right:2px }
.pr4{ padding-right:4px }
.pr6{ padding-right:6px }
.pr8{ padding-right:8px }
.pr10{ padding-right:10px }
.pr12{ padding-right:12px }
.pr14{ padding-right:14px }
.pr16{ padding-right:16px }
.pr18{ padding-right:18px }
.pr20{ padding-right:20px }
.pr22{ padding-right:22px }
.pr24{ padding-right:24px }

.pt2{ padding-top:2px }
.pt4{ padding-top:4px }
.pt6{ padding-top:6px }
.pt8{ padding-top:8px }
.pt10{ padding-top:10px }
.pt12{ padding-top:12px }
.pt14{ padding-top:14px }
.pt16{ padding-top:16px }
.pt18{ padding-top:18px }
.pt20{ padding-top:20px }
.pt22{ padding-top:22px }
.pt24{ padding-top:24px }

.pb2{ padding-bottom:2px }
.pb4{ padding-bottom:4px }
.pb6{ padding-bottom:6px }
.pb8{ padding-bottom:8px }
.pb10{ padding-bottom:10px }
.pb12{ padding-bottom:12px }
.pb14{ padding-bottom:14px }
.pb16{ padding-bottom:16px }
.pb18{ padding-bottom:18px }
.pb20{ padding-bottom:20px }
.pb22{ padding-bottom:22px }
.pb24{ padding-bottom:24px }