// card views
body div section.card:nth-child(2) {
  flex-direction: row-reverse;
}
section.card {
  flex-direction: row;
  img {
    object-fit: cover;
    width: 50%;
  }
  div.textContainer {
    flex: 1;
    div.btnTransparent {
      max-width: 16rem;
    }
  }
}
