// card views
div section.card:nth-child(2n) {
  flex-direction: row-reverse;
}
section.card {
  flex-direction: row;
  img {
    object-fit: cover;
    width: 40%;
    margin: 0.5rem 0;
  }
  div.textContainer {
    flex: 1;
    div.btnTransparent {
      max-width: 16rem;
    }
  }
}

// gallery
section.gallery {
  div.images {
    img {
      width: 33.33%;
    }
  }
}

// gallery
section.footer {
  div.btnGroup {
    div.btn,
    div.btnTransparent {
      min-width: 15rem;
    }
  }
}
