/* prevent adjustments of font size after orientation is change in IE on windows phone and IOS. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* apply a natural box size model to all elements of the DOM. */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// css used all over the page
.head {
  font-size: 1.8rem;
  font-weight: $boldWeight;
  margin: 1rem 0;
  line-height: 3rem;
}
.subHead {
  font-size: 1.6rem;
  font-weight: $normalWeight;
  margin: 1rem 0;
  line-height: 2.5rem;
}

.btn {
  padding: 1.3rem 2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: $boldWeight;
  border-radius: 4rem;
  background-color: $btnColor;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  max-width: 18rem;
  transition: background 0.75s ease, color 0.75s ease;
}
.btnTransparent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 2rem;
  text-transform: uppercase;
  background-color: $transparent;
  font-size: 1.4rem;
  font-weight: $boldWeight;
  min-width: 15rem;
  max-width: 18rem;
  border-radius: 4rem;
  border: 2px solid $btnColor;
  color: $btnColor;
  transition: background 0.75s ease, color 0.75s ease;
}

.btn:hover {
  background-color: $btnColorHover;
}
.btnTransparent:hover {
  background-color: $transparentHover;
}

section {
  display: flex;
  flex-direction: column;
  margin: $gutter;
  background-color: $white;
  div.textContainer {
    padding: $gutter;
    display: flex;
    flex-direction: column;
  }
}
//body
body {
  font-family: $defaultFont;
  font-weight: $normalWeight;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $lightGrey;
}
// header
header {
  width: 100%;
  background-color: $primaryColor;
  color: $white;
  padding: 2rem $gutter;

  div.headerContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
      margin: 1.5rem 0;
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: $boldWeight;
  }
  h2 {
    font-size: 1.4rem;
    font-weight: $normalWeight;
  }
}

// card views
section.card {
  div.textContainer {
    span.head {
      // margin-bottom: 2rem;
    }
    div.btnTransparent {
      max-width: 16rem;
    }
  }
}

// gallery
section.gallery {
  padding: $gutter;
  margin: 0;
  div.textContainer {
    span.head,
    span.subHead {
      text-align: center;
      margin: 0.5rem 0;
    }
  }
  div.btnTransparent {
    align-self: center;
    margin: 3rem 0;
  }
  div.images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    img {
      width: 50%;
    }
  }
}

section.info {
  padding: $gutter;
  background-color: $appBlue;
  color: $white;
  margin: 0;
  div.textContainer {
    span.head,
    span.subHead {
      text-align: center;
      margin: 0.5rem 0;
    }
  }
  div.btnTransparent {
    align-self: center;
    margin: 1.5rem 0;
    border: 2px solid $white;
    color: $white;
  }
}

//footer
section.footer {
  display: flex;
  background-color: $primaryColor;
  justify-content: center;
  align-items: center;
  color: $white;
  padding: $gutter;
  margin: 0;
  div.textContainer {
    padding: 0;
    span.head,
    span.subHead {
      text-align: center;
      // margin: 0.5rem 0;
    }
  }
  div.btnGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    div.btn,
    div.btnTransparent {
      margin: 0 $gutter;
      min-width: 10rem;
    }
  }
  form {
    width: 80%;
    max-width: 50rem;
  }
  div input,
  textarea {
    color: $white;
    width: 100%;
    background-color: #2a333c;
    border: none;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1.2rem;
  }
}
