$primaryColor: #202932;
$secondaryColor: #bbc2ca;
$white: #fff;
$transparent: rgba(0, 0, 0, 0);
$transparentHover: rgba(0, 0, 0, 0.2);
$appBlue: #2d7dce;
$lightGrey: #eeeeee;
$btnColor: #54baa4;
$btnColorHover: #3a7f70;

$fontColor: #35373a;

$defaultFont: sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 4%;
$gutterDbl: 2 * $gutter;
