/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* prevent adjustments of font size after orientation is change in IE on windows phone and IOS. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* apply a natural box size model to all elements of the DOM. */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.head {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1rem 0;
  line-height: 3rem; }

.subHead {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 1rem 0;
  line-height: 2.5rem; }

.btn {
  padding: 1.3rem 2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 4rem;
  background-color: #54baa4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  max-width: 18rem;
  transition: background 0.75s ease, color 0.75s ease; }

.btnTransparent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 2rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.4rem;
  font-weight: 700;
  min-width: 15rem;
  max-width: 18rem;
  border-radius: 4rem;
  border: 2px solid #54baa4;
  color: #54baa4;
  transition: background 0.75s ease, color 0.75s ease; }

.btn:hover {
  background-color: #3a7f70; }

.btnTransparent:hover {
  background-color: rgba(0, 0, 0, 0.2); }

section {
  display: flex;
  flex-direction: column;
  margin: 4%;
  background-color: #fff; }
  section div.textContainer {
    padding: 4%;
    display: flex;
    flex-direction: column; }

body {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #eeeeee; }

header {
  width: 100%;
  background-color: #202932;
  color: #fff;
  padding: 2rem 4%; }
  header div.headerContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center; }
    header div.headerContent img {
      width: 100px;
      height: 100px;
      margin: 1.5rem 0; }
  header h1 {
    font-size: 1.5rem;
    font-weight: 700; }
  header h2 {
    font-size: 1.4rem;
    font-weight: 300; }

section.card div.textContainer div.btnTransparent {
  max-width: 16rem; }

section.gallery {
  padding: 4%;
  margin: 0; }
  section.gallery div.textContainer span.head,
  section.gallery div.textContainer span.subHead {
    text-align: center;
    margin: 0.5rem 0; }
  section.gallery div.btnTransparent {
    align-self: center;
    margin: 3rem 0; }
  section.gallery div.images {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    section.gallery div.images img {
      width: 50%; }

section.info {
  padding: 4%;
  background-color: #2d7dce;
  color: #fff;
  margin: 0; }
  section.info div.textContainer span.head,
  section.info div.textContainer span.subHead {
    text-align: center;
    margin: 0.5rem 0; }
  section.info div.btnTransparent {
    align-self: center;
    margin: 1.5rem 0;
    border: 2px solid #fff;
    color: #fff; }

section.footer {
  display: flex;
  background-color: #202932;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 4%;
  margin: 0; }
  section.footer div.textContainer {
    padding: 0; }
    section.footer div.textContainer span.head,
    section.footer div.textContainer span.subHead {
      text-align: center; }
  section.footer div.btnGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; }
    section.footer div.btnGroup div.btn,
    section.footer div.btnGroup div.btnTransparent {
      margin: 0 4%;
      min-width: 10rem; }
  section.footer form {
    width: 80%;
    max-width: 50rem; }
  section.footer div input,
  section.footer textarea {
    color: #fff;
    width: 100%;
    background-color: #2a333c;
    border: none;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1.2rem; }

@media only screen and (min-width: 768px) {
  section.card:nth-child(2n) {
    flex-direction: row-reverse; }

  section.card {
    flex-direction: row; }
    section.card img {
      object-fit: cover;
      width: 40%;
      margin: 0.5rem 0; }
    section.card div.textContainer {
      flex: 1; }
      section.card div.textContainer div.btnTransparent {
        max-width: 16rem; }

  section.gallery div.images img {
    width: 33.33%; }

  section.footer div.btnGroup div.btn,
  section.footer div.btnGroup div.btnTransparent {
    min-width: 15rem; } }
@media only screen and (min-width: 1080px) {
  body div section.card:nth-child(2) {
    flex-direction: row-reverse; }

  section.card {
    flex-direction: row; }
    section.card img {
      object-fit: cover;
      width: 50%; }
    section.card div.textContainer {
      flex: 1; }
      section.card div.textContainer div.btnTransparent {
        max-width: 16rem; } }
.f {
  display: -webkit-flex;
  /* Safari */
  display: flex; }

.f1 {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex: 1; }

.f2 {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex: 2; }

.f3 {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex: 3; }

.f4 {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex: 4; }

.f5 {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex: 5; }

.f6 {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex: 6; }

.f7 {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex: 7; }

.f8 {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex: 8; }

.f9 {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex: 9; }

.f10 {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex: 10; }

.f11 {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex: 11; }

.f12 {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex: 12; }

.fdr {
  flex-direction: row; }

.fdrv {
  flex-direction: row-reverse; }

.fdc {
  flex-direction: column; }

.fdcv {
  flex-direction: column-reverse; }

.ffrw {
  flex-flow: row wrap; }

.ffrwv {
  flex-flow: row wrap-reverse; }

.ffrvw {
  flex-flow: row-reverse wrap; }

.ffrvwv {
  flex-flow: row-reverse wrap-reverse; }

.ffcw {
  flex-flow: column wrap; }

.ffcwv {
  flex-flow: column wrap-reverse; }

.ffcvw {
  flex-flow: column-reverse wrap; }

.ffcvwv {
  flex-flow: column-reverse wrap-reverse; }

.center {
  justify-content: center;
  align-items: center; }

.jCenter {
  justify-content: center; }

.jSpace {
  justify-content: space-between; }

.jSpaceAround {
  justify-content: space-around; }

.aCenter {
  align-items: center; }

.w10 {
  width: 10%; }

.w20 {
  width: 20%; }

.w30 {
  width: 30%; }

.w40 {
  width: 40%; }

.w50 {
  width: 50%; }

.w60 {
  width: 60%; }

.w70 {
  width: 70%; }

.w80 {
  width: 80%; }

.w90 {
  width: 90%; }

.w100 {
  width: 100%; }

.h10 {
  height: 10%; }

.h20 {
  height: 20%; }

.h30 {
  height: 30%; }

.h40 {
  height: 40%; }

.h50 {
  height: 50%; }

.h60 {
  height: 60%; }

.h70 {
  height: 70%; }

.h80 {
  height: 80%; }

.h90 {
  height: 90%; }

.h100 {
  height: 100%; }

.m2 {
  margin: 2px; }

.m4 {
  margin: 4px; }

.m6 {
  margin: 6px; }

.m8 {
  margin: 8px; }

.m10 {
  margin: 10px; }

.m12 {
  margin: 12px; }

.m14 {
  margin: 14px; }

.m16 {
  margin: 16px; }

.m18 {
  margin: 18px; }

.m20 {
  margin: 20px; }

.m22 {
  margin: 22px; }

.m24 {
  margin: 24px; }

.ml2 {
  margin-left: 2px; }

.ml4 {
  margin-left: 4px; }

.ml6 {
  margin-left: 6px; }

.ml8 {
  margin-left: 8px; }

.ml10 {
  margin-left: 10px; }

.ml12 {
  margin-left: 12px; }

.ml14 {
  margin-left: 14px; }

.ml16 {
  margin-left: 16px; }

.ml18 {
  margin-left: 18px; }

.ml20 {
  margin-left: 20px; }

.ml22 {
  margin-left: 22px; }

.ml24 {
  margin-left: 24px; }

.mr2 {
  margin-right: 2px; }

.mr4 {
  margin-right: 4px; }

.mr6 {
  margin-right: 6px; }

.mr8 {
  margin-right: 8px; }

.mr10 {
  margin-right: 10px; }

.mr12 {
  margin-right: 12px; }

.mr14 {
  margin-right: 14px; }

.mr16 {
  margin-right: 16px; }

.mr18 {
  margin-right: 18px; }

.mr20 {
  margin-right: 20px; }

.mr22 {
  margin-right: 22px; }

.mr24 {
  margin-right: 24px; }

.mt2 {
  margin-top: 2px; }

.mt4 {
  margin-top: 4px; }

.mt6 {
  margin-top: 6px; }

.mt8 {
  margin-top: 8px; }

.mt10 {
  margin-top: 10px; }

.mt12 {
  margin-top: 12px; }

.mt14 {
  margin-top: 14px; }

.mt16 {
  margin-top: 16px; }

.mt18 {
  margin-top: 18px; }

.mt20 {
  margin-top: 20px; }

.mt22 {
  margin-top: 22px; }

.mt24 {
  margin-top: 24px; }

.mb2 {
  margin-bottom: 2px; }

.mb4 {
  margin-bottom: 4px; }

.mb6 {
  margin-bottom: 6px; }

.mb8 {
  margin-bottom: 8px; }

.mb10 {
  margin-bottom: 10px; }

.mb12 {
  margin-bottom: 12px; }

.mb14 {
  margin-bottom: 14px; }

.mb16 {
  margin-bottom: 16px; }

.mb18 {
  margin-bottom: 18px; }

.mb20 {
  margin-bottom: 20px; }

.mb22 {
  margin-bottom: 22px; }

.mb24 {
  margin-bottom: 24px; }

.p2 {
  padding: 2px; }

.p4 {
  padding: 4px; }

.p6 {
  padding: 6px; }

.p8 {
  padding: 8px; }

.p10 {
  padding: 10px; }

.p12 {
  padding: 12px; }

.p14 {
  padding: 14px; }

.p16 {
  padding: 16px; }

.p18 {
  padding: 18px; }

.p20 {
  padding: 20px; }

.p22 {
  padding: 22px; }

.p24 {
  padding: 24px; }

.pl2 {
  padding-left: 2px; }

.pl4 {
  padding-left: 4px; }

.pl6 {
  padding-left: 6px; }

.pl8 {
  padding-left: 8px; }

.pl10 {
  padding-left: 10px; }

.pl12 {
  padding-left: 12px; }

.pl14 {
  padding-left: 14px; }

.pl16 {
  padding-left: 16px; }

.pl18 {
  padding-left: 18px; }

.pl20 {
  padding-left: 20px; }

.pl22 {
  padding-left: 22px; }

.pl24 {
  padding-left: 24px; }

.pr2 {
  padding-right: 2px; }

.pr4 {
  padding-right: 4px; }

.pr6 {
  padding-right: 6px; }

.pr8 {
  padding-right: 8px; }

.pr10 {
  padding-right: 10px; }

.pr12 {
  padding-right: 12px; }

.pr14 {
  padding-right: 14px; }

.pr16 {
  padding-right: 16px; }

.pr18 {
  padding-right: 18px; }

.pr20 {
  padding-right: 20px; }

.pr22 {
  padding-right: 22px; }

.pr24 {
  padding-right: 24px; }

.pt2 {
  padding-top: 2px; }

.pt4 {
  padding-top: 4px; }

.pt6 {
  padding-top: 6px; }

.pt8 {
  padding-top: 8px; }

.pt10 {
  padding-top: 10px; }

.pt12 {
  padding-top: 12px; }

.pt14 {
  padding-top: 14px; }

.pt16 {
  padding-top: 16px; }

.pt18 {
  padding-top: 18px; }

.pt20 {
  padding-top: 20px; }

.pt22 {
  padding-top: 22px; }

.pt24 {
  padding-top: 24px; }

.pb2 {
  padding-bottom: 2px; }

.pb4 {
  padding-bottom: 4px; }

.pb6 {
  padding-bottom: 6px; }

.pb8 {
  padding-bottom: 8px; }

.pb10 {
  padding-bottom: 10px; }

.pb12 {
  padding-bottom: 12px; }

.pb14 {
  padding-bottom: 14px; }

.pb16 {
  padding-bottom: 16px; }

.pb18 {
  padding-bottom: 18px; }

.pb20 {
  padding-bottom: 20px; }

.pb22 {
  padding-bottom: 22px; }

.pb24 {
  padding-bottom: 24px; }
